.container {
    width: 1120px;
    margin: 0 auto 50px auto;
}

/*------MEDIA QUERIES------*/
@media screen and (max-width: 1120px) {
    .container {width: 840px;}
}

@media screen and (max-width: 840px) {
    .container {width: 560px;}
}

@media screen and (max-width: 560px) {
    .container {width: 280px;}
}

.container ul {
    list-style-type: none;
}

.container li {
    float: left;
    position: relative;
    width: 320px;
    height: 287px;
    overflow: hidden;
}

.container li:hover {
    cursor: pointer;
}

/*------IMAGES------*/
.container img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}